body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.profile {
  width: 90rem;
  height: 42rem;
  margin-top: 0;
  background: url("images/bg-desktop.png") bottom no-repeat,
    rgb(12, 18, 44) top no-repeat;
  background-size: 100% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 8rem 18rem 8rem 18rem;
  height: 14rem;
  width: 54rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box1 {
  background-color: rgb(30, 44, 105);
  border-radius: 10px 100px 10px 10px;
  border: 1px solid black;
  height: 6rem;
  width: 17rem;
  padding: 2rem 0rem 2rem 2rem;
}

.box2 {
  background-color: rgb(30, 44, 105);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  margin-left: 2rem;
  margin-top: 3rem;
  height: 3rem;
  width: 24rem;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}

.box3 {
  position: relative;
  background-color: white;
  color: black;
  margin-top: -20%;
  margin-left: 68%;
  width: 8.5rem;
  height: 3.3rem;
  border-radius: 10px;
  padding: 1rem 0 0 1rem;
  position: relative;
}

.box3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 8.05rem;
  bottom: -1.2rem;
  border: 0.73rem solid transparent;
  border-color: transparent white transparent transparent;
  border-top: 0.9rem solid white;
  z-index: 3;
}

.icon {
  width: 7rem;
  height: 2rem;
}

.bg {
  background-color: rgb(12, 18, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.le {
  margin-left: 1rem;
}

.docu {
  width: 1rem;
  height: 1rem;
}

.op {
  opacity: 0.5;
  display: inline;
}

p {
  display: inline;
  white-space: nowrap;
}

.bi {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
  display: inline;
}

.sp {
  margin-left: 0.5rem;
}

progress {
  border: 0;
  background: #eee;
  border-radius: 25px;
  width: 23rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

progress::-moz-progress-bar {
  border-radius: 25px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

progress::-webkit-progress-bar {
  background: #eee;
  border-radius: 25px;
}

progress::-webkit-progress-value {
  border-radius: 25px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.botri {
  margin-left: 17.5rem;
}

@media only screen and (max-width: 700px) {
  .profile {
    width: 24rem;
    height: 43rem;
    background: url("images/bg-mobile.png") no-repeat;
  }

  .container {
    margin: 5rem 2rem 0rem 2rem;
    height: unset;
    width: 20rem;
  }

  .container .row2 {
    flex-direction: column;
  }

  .box2 {
    margin-left: 0rem;
    width: 19rem;
    height: 4rem;
    padding: 2rem 0rem 3rem 1rem;
  }

  progress {
    width: 18rem;
  }

  .box3 {
    margin-top: -10%;
    margin-left: 27%;
  }

  .botri {
    margin-left: 12.5rem;
  }

  .box3:after {
    border: 0.73rem transparent transparent;
    border-color: transparent transparent transparent transparent;
  }

  .opm {
    margin-left: 2rem;
  }
}
